<h1>About the app</h1>
<p class="bg-info text-danger">This is a demo app</p>


    <div class="row">
      <div class="col bg-primary">
        <img src="/images/octopath-traveler-2.jpg" width="100%" alt="Octopath Traveler 2">
      </div>

      <div class="col bg-primary">
        <img src="/images/triangle-strategy.jpg" width="100%" alt="Triangle Strategy">
      </div>

      <div class="col bg-primary">
        <img src="/images/octopath-traveler-switch-hero.jpg" width="100%" alt="Octopath Hero">
      </div>

      </div>    
    </div>
    <div class="row">
        <div class="col bg-info">
            About Me
            <br>
            Hi, my name is Jamaine Genius and I am junior at Brandeis University majoring in Computer Science and History. 
            <br>
            I am from New Jersey and I like working on different computer science projects, learning about new technologies, and playing video games,
            <br>
            playing video games, listening to music, and playing sports. 
            <br>
            The games in the images are some my favorite games which are created by Team Asano because they highlight how 2D games can still be visually spectacular.
            <br>
            Team Asano managed to create stunning 2D visuals in Unreal Engine in a 3D world to create a very unique art style.
            <br>
            This is important to me becuase it highlights how modern technologies can bring life into older forms of artistry and techniques.
            <br>
            For this assignment I decided to create a webapp that integrates with openai's GPT-3 API.
            <br>
            My personal changes to the app are a simple rock paper scissors game against GPT-3 and also a list of fake pokemon to help myself and rom hackers to design new Fake Pokémon or more popularly known as Fakemons .
          </div>    

      </div>