<!DOCTYPE html>
<html>
  <head>
    <title>Rock Paper Scissors vs. GPT-3</title>
    <style>
      body {
          background-image: url('/images/rps.png');
          background-repeat: no-repeat;
          background-size: 60%;
          background-position: center top;
        }
    </style>
  </head>
  <body>
    <h1>Rock, Paper, Scissors Shoot!</h1>
    <form method="POST" action="/link/play">
      <label for="choice">Choose:</label>
      <select name="choice" id="choice">
        <option value="rock">Rock</option>
        <option value="paper">Paper</option>
        <option value="scissors">Scissors</option>
      </select>
      <button type="submit">Play</button>
    </form>
  </body>
</html>