<!DOCTYPE html>
<html>
  <head>
    <title>My Play Page</title>
    <style>
      body {
          background-image: url('/images/confetti.gif');
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center top;
        }
    </style>
  </head>
  <body>
    <h1>Game Result</h1>
    <p><%= result %></p>
    <a href="/link">Play Again</a>
  </body>
</html>
